
<section id="section-advantage" class="section section-full-width">
    <div class="content-inner-width advantage-wrapper">
        <!--
            <div class="advantage-image-wrapper">
                <img class="advantage-image" src="" alt="The Dezine Advantage" />
            </div>
            -->
        <div class="advantage-content-wrapper">
            <h2 class="section-header">The DezineCorp Difference</h2>
            <p class="advantage-intro">DezineCorp is your one-stop shop for memorable corporate gifts, employee rewards, and customer incentives. Our talented team transforms globally-sourced promotional products into stunning branded merchandise with in-house engraving, printing, gift set creation, and customization.</p>
        </div>
        <div class="column-wrap">
            <!-********************************************->
            <!- ADVANTAGE POINT 1                          ->
            <!-********************************************->
            <div class="column-split">
                <div class="column-split-inner">
                    <div class="column-split-left">
                        <img class="column-split-image corner-radius" src="~/Content/DezineCorpImages/daniele-cazzato-YnltfZWFSiU-unsplash.jpg" alt="100% Canadian" />
                    </div>
                    <!-- /.column-split-left -->
                    <div class="column-split-right">
                        <div class="column-split-content">
                            <h3 class="advantage-content-header">100% Canadian <i class="fab fa-canadian-maple-leaf"></i></h3>
                            <p class="column-content-text">Founded by a Canadian family, we operate out of Mississauga, Ontario to design, produce, and ship your personalized items within Canada.</p>
                        </div>
                        <!-- /.column-split-content -->
                    </div>
                    <!-- /.column-split-right -->
                </div>
                <!-- /.column-split-inner -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- ADVANTAGE POINT 2                          ->
            <!-********************************************->
            <div class="column-split">
                <div class="column-split-inner">
                    <div class="column-split-left">
                        <img class="column-split-image corner-radius" src="~/Content/DezineCorpImages/opt-lasers-KshEaH06rV8-unsplash.jpg" alt="" />
                    </div>
                    <!-- /.column-split-left -->
                    <div class="column-split-right">
                        <div class="column-split-content">
                            <h3 class="advantage-content-header">In-House Production</h3>
                            <p class="column-content-text">From screen printing to engraving and so much more, our design team works with you to create the perfect promotional product for your business. Then, we get to work: with every step of the production happening within our factory, our quality is unmatched.</p>
                        </div>
                        <!-- /.column-split-content -->
                    </div>
                    <!-- /.column-split-right -->
                </div>
                <!-- /.column-spit-inner -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- ADVANTAGE POINT 3                          ->
            <!-********************************************->
            <div class="column-split">
                <div class="column-split-inner">
                    <div class="column-split-left">
                        <img class="column-split-image corner-radius" src="~/Content/DezineCorpImages/chuttersnap-BNBA1h-NgdY-unsplash.jpg" alt="" />
                    </div>
                    <!-- /.column-split-left -->
                    <div class="column-split-right">
                        <div class="column-split-content">
                            <h3 class="advantage-content-header">Customer Support</h3>
                            <p class="column-content-text">We foster one-on-one relationships with our clients, being available to help create custom solutions for even the most unique of challenges. The tailored products that we offer our clients have been borne from decades of listening, learning, and building real, human connections.</p>
                        </div>
                        <!-- /.column-split-content -->
                    </div>
                    <!-- /.column-split-right -->
                </div>
                <!-- /.column-split-inner -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- ADVANTAGE POINT 4                          ->
            <!-********************************************->
            <div class="column-split">
                <div class="column-split-inner">
                    <div class="column-split-left">
                        <img class="column-split-image corner-radius" src="~/Content/DezineCorpImages/petrebels-JwMGy1h-JsY-unsplash.jpg" alt="" />
                    </div>
                    <!-- /.column-split-left -->
                    <div class="column-split-right">
                        <div class="column-split-content">
                            <h3 class="advantage-content-header">Product Selection</h3>
                            <p class="column-content-text">Offering some of the world’s most sought-after premium brands, including Stanley, Riedel, and Nachtmann, we have over 2,000 high quality products to choose from, that fit any budget and style.</p>
                        </div>
                        <!-- /.column-split-content -->
                    </div>
                    <!-- /.column-split-right -->
                </div>
                <!-- /.column-split-inner -->
            </div>
            <!-- /column-split -->
        </div>
        <!-- /.column-wrap -->
    </div>
    <!-- /.talk-cta-wrapper -->
</section>