
<section id="section-featured-slider" class="section section-full-width">
    <div id="home-hero-slider" class="slick-wrapper">
        <div id="home-hero-feature-1" class="home-hero-slide">
            <a href="/stanley">
                <div class="home-hero-slide-wrapper" style="background-image: url('/Content/DezineCorpImages/main-slider/1440x480-banner-Stanley-Pour-_2022.jpg'); background-color: #623B5A">
                    <div class="slider-inner content-inner-width">
                        <h2 class="home-hero-slide-header">Lorem ipsum dolor sit amet</h2>
                        <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="home-hero-feature-2" class="home-hero-slide">
            <a href="/leather-1">
                <div class="home-hero-slide-wrapper" style="background-image: url('/Content/DezineCorpImages/main-slider/1440X480-banner-Hyde_2022.jpg'); background-color: #C8FFBE;">
                    <div class="slider-inner content-inner-width">
                        <h2 class="home-hero-slide-header">Lorem ipsum dolor sit amet</h2>
                        <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="home-hero-feature-3" class="home-hero-slide">
            <a href="/double-wall-glass">
                <div class="home-hero-slide-wrapper" style="background-image: url('/Content/DezineCorpImages/main-slider/1440x480-banner-Double-Wall-Glass-Banner_2022.jpg'); background-color: #EDFFAB;">
                    <div class="slider-inner content-inner-width">
                        <h2 class="home-hero-slide-header">Lorem ipsum dolor sit amet</h2>
                        <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="home-hero-feature-4" class="home-hero-slide">
            <a href="/riedel-2">
                <div class="home-hero-slide-wrapper" style="background-image: url('/Content/DezineCorpImages/main-slider/1440x480-banner_RIEDEL-Martini_2022.jpg'); background-color: #BA9593;">
                    <div class="slider-inner content-inner-width">
                        <h2 class="home-hero-slide-header">Lorem ipsum dolor sit amet</h2>
                        <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="home-hero-feature-5" class="home-hero-slide">
            <a href="/Content/pdf/Final Save Big on Hot Deals Flyer- PDF.pdf">
                <div class="home-hero-slide-wrapper" style="background-image: url('/Content/DezineCorpImages/main-slider/1440x480_Hot-deal-Flyer-Banner_2022.jpg'); background-color: #89608E;">
                    <div class="slider-inner content-inner-width">
                        <h2 class="home-hero-slide-header">Lorem ipsum dolor sit amet</h2>
                        <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>