<section id="section-product-categories" class="section section-full-width">
    <div class="content-inner-width">
        <h2 class="section-header">Popular Product Ideas</h2>
    </div>
    <div class="product-category-wrapper content-inner-width">
        <div class="grid-wrapper">
            <div class="grid-row">
                <div id="product-category-1" class="grid-product grid-3up">
                    <a class="product-category-link" href="/new-products">
                        <div class="product-category-image-container ">
                            <img class="propduct-category-image corner-radius" src="/Content/DezineCorpImages/boxes/Small-New_2022_450x800.jpg" alt="category 1" />
                        </div>
                        <p class="product-category-image-label">What's New</p>
                    </a>
                </div>
                <div id="product-category-2" class="grid-product grid-3up">
                    <a class="product-category-link" href="/bulk-packaged-product-shipped-by-pallet">
                        <div class="product-category-image-container">
                            <img class="propduct-category-image corner-radius" src="/Content/DezineCorpImages/boxes/BulkPackaged_ShipByPallet(SmallBox)_2022_450x800.jpg" alt="category 2" />
                        </div>
                        <p class="product-category-image-label">What's New</p>
                    </a>
                </div>
                <div id="product-category-3" class="grid-product grid-3up">
                    <a class="product-category-link" href="/riedel-2">
                        <div class="product-category-image-container">
                            <img class="propduct-category-image corner-radius" src="/Content/DezineCorpImages/boxes/Small-Riedel_2022_450x800.jpg" alt="category 3" />
                        </div>
                        <p class="product-category-image-label">Leather Goods</p>
                    </a>
                </div>
            </div>
            <!-- /.grid-row -->
            <div class="grid-row">
                <div id="product-category-4" class="grid-product grid-3up">
                    <a class="product-category-link" href="/2018-hydeport">
                        <div class="product-category-image-container">
                            <img class="propduct-category-image corner-radius" src="/Content/DezineCorpImages/boxes/Small-Hydport_2022_450x800.jpg" alt="category 4" />
                        </div>
                        <p class="product-category-image-label">Hot Deals</p>
                    </a>
                </div>
                <div id="product-category-5" class="grid-product grid-3up">
                    <a class="product-category-link" href="/canadian-made">
                        <div class="product-category-image-container">
                            <img class="propduct-category-image corner-radius" src="/Content/DezineCorpImages/boxes/Small-Made-in-canada_2022_450x800.jpg" alt="category 5" />
                        </div>
                        <p class="product-category-image-label">Gift Boxes & Sets</p>
                    </a>
                </div>
                <div id="product-category-6" class="grid-product grid-3up">
                    <a class="product-category-link" href="/clearance">
                        <div class="product-category-image-container">
                            <img class="propduct-category-image corner-radius" src="/Content/DezineCorpImages/boxes/Small-Clearancet_2022_450x800.jpg" alt="category 6" />
                        </div>
                        <p class="product-category-image-label">Premium Products</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="more-products">
            <a class="new-button cta-button-yellow home-hero-slide-cta more-products-cta corner-radius" href="/root-category">See more products</a>
        </div>
    </div>
</section>
