<section id="section-search" class="section section-full-width">
    <div class="search-wrapper content-inner-width">
        <div class="search-bar-wrapper">
            <h2 class="search-header">Search thousands of promotional products</h2>
            <form id="main-search-form" class="inline-form">
                <input id="search-input" class="clear-default-input inline-text-input corner-radius" type="text" placeholder="What are you looking for?" />
                <button type="submit" id="search-submit" class="clear-default-button new-button search-submit-button cta-button-yellow corner-radius">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-bar-wrapper -->
        <div class="search-preset-wrapper">
            <div class="search-hints">
                <div class="search-hint-text">
                    <p>Popular searches</p>
                </div>
                <div class="search-preset corner-radius">
                    <a href="/ceramics">Ceramics</a>
                </div>
                <div class="search-preset corner-radius">
                    <a href="/canadian-made"><i class="fab fa-canadian-maple-leaf"></i> Made in Canada</a>
                </div>
                <div class="search-preset corner-radius">
                    <a href="/stanley">Stanley</a>
                </div>
                <div class="search-preset corner-radius">
                    <a href="/glass">Glassware</a>
                </div>
                <div class="search-preset corner-radius">
                    <a href="/clearance">Clearance</a>
                </div>
            </div>
            <!-- .search-hints-->
        </div>
    </div>
    <!-- /.search-wrapper -->
</section>
