
<section id="section-flyer-cta" class="section section-inner-width">
    <div class="content-inner-width">
        <h2 class="section-header">Get the latest products and deals in your inbox</h2>
        <div class="flyer-cta-inner">
            <p class="column-content-text">Subscribe to our e-flyer and newsletter</p>
            <div class="column-split-content">
                <div class="ctct-inline-form" data-form-id="55d37f03-6a01-443c-921c-d09f60c9b9e2">
                    <div class="ctct-form-container ctct-form-embed form_0"></div>
                </div><!-- column-split-content -->
            </div>
            <!-- /.column-split-content -->
        </div>
        <!-- /.flyer-cta-inner -->
    </div>
    <!-- /.talk-cta-wrapper -->
</section>