<section id="section-product-categories" class="section section-full-width">
    <div class="product-category-wrapper subscribe-content product-category-products content-inner-width">
        <h2 class="section-header">Get the latest products and deals in your inbox</h2>
        <div class="flyer-cta-inner">
            <div class="column-split-content">
                <!--
                <form id="flyer-cta-form" class="inline-form">
                    <input id="flyer-cta-input" class="clear-default-input inline-text-input corner-radius" type="text" placeholder="Enter email" />
                    <button type="submit" id="flyer-submit" class="clear-default-button text-submit-button new-button cta-button-yellow corner-radius">
                    Sign Me Up <i class="fas fa-paper-plane"></i>
                    </button>
                </form>
                -->
                <!-- CONSTANT CONTACT INLINE FORM EMBED -->
                <div class="ctct-inline-form" data-form-id="55d37f03-6a01-443c-921c-d09f60c9b9e2">
                    <div class="ctct-form-container ctct-form-embed form_0"></div>
                </div><!-- column-split-content -->
            </div><!-- /flyer-cta-inner -->
        </div>
        <!-- /.product-category-wrapper -->
</section>


<!-- Begin Constant Contact Active Forms -->
<script>var _ctct_m = "36c288280703873625dd8e3bab938484";</script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->

<script>
    // add placeholder text to email field
    window.onload = function () {
        $("#email_address_0").attr("placeholder", "Enter email");
    };</script>
