@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('fonts/ARIAL.woff') format('woff');
}


@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow'), url('fonts/ARIALN.woff') format('woff');
}


@font-face {
    font-family: 'Arial Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Italic'), url('fonts/ARIALI 1.woff') format('woff');
}


@font-face {
    font-family: 'Arial Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Italic'), url('fonts/ARIALI.woff') format('woff');
}


@font-face {
    font-family: 'Arial Narrow Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow Italic'), url('fonts/ARIALNI.woff') format('woff');
}


@font-face {
    font-family: 'Arial Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Medium'), url('fonts/ArialMdm.woff') format('woff');
}


@font-face {
    font-family: 'Arial Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Medium Italic'), url('fonts/ArialMdmItl.woff') format('woff');
}


@font-face {
    font-family: 'Arial Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Bold'), url('fonts/ARIALBD 1.woff') format('woff');
}


@font-face {
    font-family: 'Arial Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Bold'), url('fonts/ARIALBD.woff') format('woff');
}


@font-face {
    font-family: 'Arial Narrow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow Bold'), url('fonts/ARIALNB.woff') format('woff');
}


@font-face {
    font-family: 'Arial Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Bold Italic'), url('fonts/ARIALBI 1.woff') format('woff');
}


@font-face {
    font-family: 'Arial Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Bold Italic'), url('fonts/ARIALBI.woff') format('woff');
}


@font-face {
    font-family: 'Arial Narrow Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow Bold Italic'), url('fonts/ARIALNBI.woff') format('woff');
}


@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Black'), url('fonts/ARIBLK.woff') format('woff');
}


@font-face {
    font-family: 'Arial Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Black Italic'), url('fonts/ARIALBLACKITALIC.woff') format('woff');
}


@font-face {
    font-family: 'Arial Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Light Regular'), url('fonts/ARIALLGT.woff') format('woff');
}


@font-face {
    font-family: 'Arial CE Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial CE Regular'), url('fonts/ArialCE.woff') format('woff');
}


@font-face {
    font-family: 'Arial CE MT Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial CE MT Black Regular'), url('fonts/ArialCEMTBlack.woff') format('woff');
}


@font-face {
    font-family: 'Arial CE Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial CE Bold'), url('fonts/arialceb.woff') format('woff');
}


@font-face {
    font-family: 'Arial Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Light Italic'), url('fonts/ARIALLGTITL.woff') format('woff');
}


@font-face {
    font-family: 'Arial CE Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial CE Italic'), url('fonts/ArialCEItalic.woff') format('woff');
}


@font-face {
    font-family: 'Arial CE Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial CE Bold Italic'), url('fonts/ArialCEBoldItalic.woff') format('woff');
}

body {
    font-family: 'Arial Regular';
}

.bodywrap {
    padding-right: 5rem;
    padding-left: 5rem;
}

.main-logo {
    float: left;
    padding: 5px 0px;
    line-height: 20px;
}

.product-li {
    display: flex;
    list-style: none;
    padding-left: 10px;
    text-align: center;
}

.mb-0 {
    margin: 15px 0 !important;
}

.form-control {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
    height: 30px;
}

.bt-g {
    background-color: #000000;
    color: white;
    padding: 4px 12px;
    border-radius: 0%;
    margin-left: -5px;
}

    .bt-g:hover {
        background-color: #4a4a4a;
        color: white;
        border-radius: 0%;
    }

.flag {
    margin-top: 3px;
    margin-right: 5px;
}

.bt-login {
    border-radius: 0px;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    padding: 2px 12px;
}
/*Mega Menu*/
.mainmenu .collapse ul > li:hover > a {
    background: #ccc9c9;
}
/* ��������������������������������������������������
megamenu.js STYLE STARTS HERE
�������������������������������������������������� */

/*
1.1 Header Area
***************************************************/
/*Bootstrap Reset*/
.top__nav {
    margin: 30px auto;
}

.navbar-header {
    background-color: black;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}

.mainmenu {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    border: 0px !important;
}

.navbar-nav > li:last-child > a {
    padding-right: 0px;
    margin-right: 0px;
}

.dropdown-menu {
    padding: 0px 0;
    margin: 0 0 0;
    border: 0px solid transition !important;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/*=-====Main Menu=====*/
.navbar-nav .open .dropdown-menu > li > a {
    padding: 10px;
}

.header_area .header_bottom .mainmenu a, .navbar-default .navbar-nav > li > a {
    padding: 10px;
}
/*-----./ Main Menu-----*/

.navbar-default .navbar-toggle {
    border-color: #fff
}
    /*Toggle Button*/
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff
    }
/*Toggle Button*/
/*==========Sub Menu=v==========*/

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
    background: #eeeeee;
}

    .mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu {
        background: #eeeeee
    }

        .mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu {
            background: #eeeeee;
        }
/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li {
        position: relative;
    }

        .mainmenu .collapse ul li:hover > ul {
            display: block
        }

    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }
        /*******/
        .mainmenu .collapse ul ul li {
            position: relative
        }

            .mainmenu .collapse ul ul li:hover > ul {
                display: block
            }

        .mainmenu .collapse ul ul ul {
            position: absolute;
            top: 0;
            left: 100%;
            min-width: 250px;
            display: none
        }
            /*******/
            .mainmenu .collapse ul ul ul li {
                position: relative
            }

                .mainmenu .collapse ul ul ul li:hover ul {
                    display: block
                }

            .mainmenu .collapse ul ul ul ul {
                position: absolute;
                top: 0;
                left: -100%;
                min-width: 250px;
                display: none;
                z-index: 1
            }
}


/* ��������������������������������������������������
Screen style's
�������������������������������������������������� */
/**/
.collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    display: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
    border-radius: 0px;
}

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #ff0000;
        color: white !important;
    }

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

.navbar-inverse {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #000000;
}

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        color: #fff;
        background-color: #ff0000;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover {
        color: #fff;
        background-color: #ff0000;
    }

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }

        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }

            .mega-dropdown-menu > li > ul > li > a {
                display: block;
                color: #222;
                padding: 3px 5px;
            }

    .mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }

    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

.lower-section .col-md-4 {
    padding-left: 0px;
    padding-right: 0px
}
/*==================== 
	Footer 
====================== */
/* Main Footer */
footer .main-footer {
    padding: 20px 0;
    background: #eeeeee;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

.thumbnail-widget li {
    margin: 5px 0 5px 0;
}
/* Copy Right Footer */
.footer-copyright {
    background: #dcdcdc;
    padding: 5px 0;
}

    .footer-copyright .logo {
        display: inherit;
    }

    .footer-copyright nav {
        float: right;
        margin-top: 5px;
    }

        .footer-copyright nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .footer-copyright nav ul li {
                border-left: 1px solid #505050;
                display: inline-block;
                line-height: 12px;
                margin: 0;
                padding: 0 8px;
            }

                .footer-copyright nav ul li a {
                    color: #969696;
                }

                .footer-copyright nav ul li:first-child {
                    border: medium none;
                    padding-left: 0;
                }

    .footer-copyright p {
        color: #333333;
        margin: 2px 0 0;
    }
/* Footer Top */
.footer-top {
    background: #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}
/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
/* Footer 4 */
.footer- .logo {
    display: inline-block;
}
/*==================== 
	Widgets 
====================== */

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: #000 !important;
    font-weight: bold;
}

    .widget li a:hover {
        color: #007d8c !important;
    }

.widget p a {
    color: #da382d !important;
    text-decoration: none;
}

    .widget p a:hover {
        color: #007d8c;
    }

.widget-title {
    margin-bottom: 20px;
}

    .widget-title span {
        background: #839FAD none repeat scroll 0 0;
        display: block;
        height: 1px;
        margin-top: 25px;
        position: relative;
        width: 20%;
    }

        .widget-title span::after {
            background: inherit;
            content: "";
            height: inherit;
            position: absolute;
            top: -4px;
            width: 50%;
        }

    .widget-title.text-center span, .widget-title.text-center span::after {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1, .typo-light h2, .typo-light h3, .typo-light h4, .typo-light h5, .typo-light h6, .typo-light p, .typo-light div, .typo-light span, .typo-light small {
    color: #000;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

    ul.social-footer2 li {
        display: inline-block;
        padding: 0;
    }

        ul.social-footer2 li a:hover {
            background-color: #ff8d1e;
        }

        ul.social-footer2 li a {
            display: block;
            height: 30px;
            width: 30px;
            text-align: center;
        }

.btn:hover, .btn:focus, .btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}

/*All Products*/
.table {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
}

    .table > tbody > tr > td {
        padding: 8px 2px;
        border-top: 0px;
        text-align: left;
    }

.card-img-bottom {
    width: 100%;
}

.featurep {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
/**/
/* Makes images fully responsive */
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}
/* ------------------- Carousel Styling ------------------- */
.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}
/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.section-white {
    padding: 10px 0;
}

.section-white {
    background-color: #fff;
    color: #555;
}

@media screen and (min-width: 768px) {
    .section-white {
        padding: 1.5em 0;
    }
}
/**/
.featurep2 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

    .featurep2 .card-body {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

    .featurep2 p {
        margin: 5px;
    }

.lower-card {
    margin: 4rem 0rem;
}
/**/
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

#slider-thumbs {
    height: 400px;
    overflow-y: scroll;
    white-space: nowrap;
    margin: 2rem 0;
    -ms-overflow-style: none;
}

#slider {
    margin: 2rem 0;
}

.btb {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px;
    padding: 2px 0 2px 0;
}

.fpp > tbody > tr > td {
    padding: 8px 8px;
    border-top: 0px;
    border-right: 1px solid #eee;
}

    .fpp > tbody > tr > td > img {
        border: 1px solid #ccc;
    }

.br {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.all-products {
    margin-top: 10px;
    margin-bottom: 10px;
}

.all-p-container {
    padding-right: 30px;
    padding-left: 30px;
}


.btb {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 10px 10px 0 10px;
    padding: 2px 0 2px 0;
    font-size: 12px;
    color: #000;
}

.mtb img {
    border: 0px solid #ccc;
}

.border-r {
    border-right: 1px solid #ccc;
}

.lower-section hr {
    height: 0.5rem;
    background-color: #dcdcdc;
    border: 0;
}


/*Product*/
/*****************globals*************/
img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
    }

        .preview-thumbnail.nav-tabs li img {
            max-width: 100%;
            display: block;
        }

        .preview-thumbnail.nav-tabs li a {
            padding: 0;
            margin: 0;
        }

        .preview-thumbnail.nav-tabs li:last-of-type {
            margin-right: 0;
        }

.tab-content {
    overflow: hidden;
}

    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
    font-weight: bold;
}

    .checked, .price span {
        color: #ff9f1a;
    }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
    font-size: 2em;
}

.size {
    margin-right: 10px;
}

    .size:first-of-type {
        margin-left: 40px;
    }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

    .color:first-of-type {
        margin-left: 20px;
    }

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

    .add-to-cart:hover, .like:hover {
        background: #b36800;
        color: #fff;
    }

.not-available {
    text-align: center;
    line-height: 2em;
}

    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff;
    }

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.product-table {
    text-align: left !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #00b6ac;
    border: 1px solid #00b6ac;
    border-bottom-color: transparent;
    border-radius: 0px;
    color: white !important;
}

.nav-tabs > li {
    float: left;
    border-radius: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #9e9e9e;
}

.tab-content img {
    max-width: 300px;
    max-height: 300px;
}

.details > .tab-content {
    text-align: left;
}
/*# sourceMappingURL=style.css.map */

.rel-products .rel-pro-li {
    text-align: center;
    width: 20%;
}

.rel-pro img {
    max-width: 150px;
}

/*new-style*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 1px solid #FFFFFF;
}

.navbar {
    position: unset;
    min-height: 40px;
    margin-bottom: 15px;
    border: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse {
    padding: 0px;
}

.main-header {
    background-color: #dcdcdc;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .main-header a {
        text-decoration: none;
        color: #000000;
    }

    .main-header p {
        margin: 0;
        padding: 5px;
    }

.product-main-header {
    background-color: #dcdcdc;
    height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .product-main-header p {
        margin: 0;
        padding: 3px;
        font-size: 12px;
    }

.rel-products {
    list-style: none;
    display: flex;
    padding-left: 0;
    width: 100%;
}

.rel-pro-li {
    padding-left: 15px;
    padding-right: 15px;
}

.no-pd {
    padding: 0px !important;
}

.mtb {
    text-align: center;
}

.lower-section {
    margin: 0px auto;
}

    .lower-section hr {
        margin-top: 15px;
        margin-bottom: 25px;
    }

.main-footer {
    padding: 0px 15px 20px 15px;
}

    .main-footer h5 {
        font-weight: bolder;
    }

.widget {
    padding: 15px;
}
/*About Us*/
.page-header-txt {
    line-height: 1.5em;
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
    text-align: center;
}

    .page-header-txt span {
        color: #53afd7;
    }

.preview-pic {
    border: 1px solid #ccc;
}

.tab-pane p {
    text-align: left;
}

.tab-pane .active {
    text-align: left !important;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
}

    .breadcrumb a {
        color: black
    }

.dp-img {
    border: 3px solid #cccc;
    margin: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1; /* Firefox */
}

.small-font {
    font-size: 10px;
}

.lower-img {
    margin: 10px 0px 0px 0px;
}

.navbar > li {
    position: relative;
    display: block;
}

.navbar-nav > li {
    float: left;
    width: 14.28%;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-nav {
    width: 100%;
    background-color: #eee;
    color: black;
}

.nav-br {
    border-right: 1px solid #fff;
}

.only-active {
    color: #fff !important;
    background-color: #fe0000;
}

    .only-active a {
        color: #fff !important;
    }

.footer-header {
    background-color: #dcdcdc;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .footer-header p {
        margin: 0;
        padding: 5px 0 0 14px;
    }

.navbar-nav {
    margin: 0;
}

.about-para {
    margin: 10px 0px 20px 0px;
}

.top-bottom {
    margin-bottom: 0px;
    margin-top: 2rem;
}
/*dropdown*/
.text__center {
    text-align: center;
}

div.cs-select {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    vertical-align: middle;
    background: #fff;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

    div.cs-select:focus {
        outline: none;
        /* For better accessibility add a style for this in your skin */
    }

.cs-select select {
    display: none;
}

.cs-select span {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0.5em;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Placeholder and selected option */

.cs-select > span {
    padding-right: 3em;
}

    .cs-select > span::after,
    .cs-select .cs-selected span::after {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .cs-select > span::after {
        right: 0em;
        content: '\25BE';
        background-color: black;
        color: white;
        padding: 1rem;
        font-size: 2.5rem;
    }

.cs-select .cs-selected span::after {
    margin-left: 1em;
    content: '\2713';
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}
/* Options */

.cs-select .cs-options {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    background: #fff;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .cs-select ul span {
        padding: 1em;
    }

    .cs-select ul li.cs-focus span {
        background-color: #ddd;
    }
/* Optgroup and optgroup label */

.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

div.cs-skin-elastic {
    font-size: 1em;
    font-weight: 700;
    color: black;
    background: transparent;
    border: 1px solid;
    margin-top: 1em;
}

@media screen and (max-width: 30em) {
    div.cs-skin-elastic {
        font-size: 1em;
    }
}

.cs-skin-elastic > span {
    z-index: 100;
    background-color: #fff;
}

.cs-skin-elastic .cs-options {
    visibility: visible;
    overflow: visible;
    padding-bottom: 1.25em;
    pointer-events: none;
    opacity: 1;
    background: transparent;
}

.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background: #fff;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-animation: expand .6s ease-out;
    animation: expand .6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
    -webkit-transition: opacity .15s, -webkit-transform .15s;
    transition: opacity .15s, transform .15s;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
}

.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: bounce .6s ease-out;
    animation: bounce .6s ease-out;
    opacity: 1;
}

.cs-skin-elastic .cs-options span {
    background-repeat: no-repeat;
    background-position: 1.5em 50%;
    background-size: 2em auto;
}

    .cs-skin-elastic .cs-options span:hover,
    .cs-skin-elastic .cs-options li.cs-focus span,
    .cs-skin-elastic .cs-options .cs-selected span {
        color: #1e4c4a;
    }

        .cs-skin-elastic .cs-options .cs-selected span::after {
            content: '';
        }

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
    }

    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1, .85, 1);
    }

    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }

    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1, .85, 1);
        transform: scale3d(1, .85, 1);
    }

    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.cat-header-txt {
    line-height: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 1rem;
    font-size: 5em;
}

.cat-list {
    list-style: none;
    padding-left: 0px;
}

    .cat-list li {
        background-color: #dcdcdc;
        height: 25px;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px;
    }

.dropdown-menu > li > a {
    text-transform: capitalize;
}

.feature-p .mtb img {
    height: 150px;
}

.product-li li {
    margin-right: 15px;
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .nav > li {
        position: relative;
        display: block;
        width: 100%;
    }

    .nav-br {
        border-right: 0px;
    }

    .form-control {
        display: initial;
        width: 90%;
    }

    .lower-section .col-md-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rel-products {
        list-style: none;
        display: inline;
        padding-left: 0;
    }
        .rel-products .rel-pro-li {
            text-align: center;
            width: 100%;
        }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .nav > li {
        position: relative;
        display: block;
        width: 100%;
    }

    .nav-br {
        border-right: 0px;
    }

    .form-control {
        display: initial;
        width: 87%;
    }

    .bt-g {
        background-color: #000000;
        color: white;
        padding: 4px 12px;
        border-radius: 0%;
        margin-left: -5px;
        margin-top: -3px;
    }

    .lower-section .col-md-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rel-products {
        list-style: none;
        display: inline;
        padding-left: 0;
    }
        .rel-products .rel-pro-li {
            text-align: center;
            width: 100%;
        }
}
/*Categories Page CSS*/


.cat-row .col-md-3 {
    height: 300px;
    margin: 1em 0;
}

.cat-txt {
    bottom: 0;
    margin-top: 4px;
    background-color: #eeeeee;
    font-weight: bold;
    width:280px;
}

    .cat-txt span {
        color: #000000;
        font-size: 17px;
    }

.cat-img {
    max-width: 280px;
    max-height: 280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sub-cat-img {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cat-row {
    text-align: center;
}

    .cat-row img {
        vertical-align: middle;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 1px solid #e1e1e1;
    }

.cat-header-txt {
    line-height: 1.5em;
    font-weight: bold;
    font-size: 5em;
}


.modal-header .close {
    margin-top: -20px;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px;
    background-color: #ddd;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn-primary {
        color: #fff;
        background-color: #5abaaf;
        border-color: #5abaaf;
        border-radius: 0px;
    }



    .controls .btn:hover, .btn:focus, .btn.active {
        background: none;
        color: #4b92dc;
    }