@model bool

@if (Model)
{
    <div class='alert alert-success'>Thank you for giving us the opportunity to share our promotions with you!
    <br />If you have comments or suggestions at any time, we would love to hear them.<br/>
        <span  style="color:#007A8A;">The DezineCorp Team</span>
</div>
}
else
{
    <div class='alert alert-danger'><strong>Error!</strong> An error has occured and your profile has not been sent. Please try again later.</div>
}
