@model bool

@if (Model)
{
    <div class='alert alert-success'>Thank you for your application. Your submission has been received. <br />We thank everyone for their interest but only candidates selected for interviewing will be contacted.</div>
}
else
{
    <div class='alert alert-danger'><strong>Error!</strong> An error has occured and your profile has not been sent. Please try again later.</div>
}
