
@{
    ViewBag.Title = "About Us";
}
<div class="container">
    <!--Main Carousel-->
    <h2 class="page-header-txt">We are problem solvers and product innovators<br /> creating impactful pieces that <span>make your brand stand out</span></h2>
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner about-us-s">
                <div class="item active">
                    <img src="~/Content/DezineCorpImages/main-about-us.jpg" alt="..." class="img-responsive">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="about-para">Our passionate team of decorators, designers, printers, and specialists have decades of combined experience to offer ideas and implement solutions. We have the processes in place to provide in-stock product, quick and accurate production, and the shipping solutions to execute your order efficiently</p>
        </div>
    </div>
</div>

<!--Lower Section-->
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <img src="~/Content/DezineCorpImages/aboutus-one.jpg" class="img-responsive" alt="...">

            <p class="about-para">
                We work with promotional distributors, campus bookstores, food service promoters, gift shops and event coordinators to create promotions that make an impression.<br /><br />
                Since 2009 we have developed a strong network of vendors, suppliers and distributors that have worked tirelessly to decorate, sell, and deliver our impressive and extensive line of glassware, ceramics, plastics, leathers and metals to our customers. Innovation and collaboration are the qualities we strive for each day.
            </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <img src="~/Content/DezineCorpImages/about-us-2.jpg" class="img-responsive" alt="...">

            <p class="about-para">From affordable options to premium selections, we offer product, decoration and branding for a wide range of promotional product types to fit our client's every need and budget.<br /><br />Bring us your logo, colours, concepts, and ideas and we will work with you one-on-one to transform your ideas into reality on time and on budget.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <img src="~/Content/DezineCorpImages/about-us.jpg" class="img-responsive" alt="...">

            <p class="about-para">
                With a large variety of product and decoration techniques to choose from, we will help you select the decoration options that best highlight your promotion.<br /><br />Take a moment to view our new and featured items along the way. You may be inspired for a future project. Keep in mind that Custom is our speciality.<br><br />
                If you have questions our Customer Service team will be pleased to assist you.
            </p>
        </div>
    </div>
</div>