
@{
    ViewBag.Title = "About Us";
}
<section id="section-featured-slider" class="section section-full-width">
    <div id="home-hero-static" class="static-hero-wrapper">
        <!-********************************************->
        <!- SLIDE 1                                    ->
        <!-********************************************->
        <div id="home-hero-feature-1" class="home-hero-slide">
            <div class="home-hero-slide-wrapper" style="background-image:url('/Content/DezineCorpImages/about_team_2000x.jpg.webp');background-color: #623B5A">
                <div class="slider-inner content-inner-width">
                    <h2 class="home-hero-slide-header">About DezineCorp</h2>
                    <!-- <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    <a class="new-button cta-button-yellow home-hero-slide-cta corner-radius" href="#">LINK</a>  -->
                </div>
            </div>
            <!-- /.home-hero-slide-wrapper -->
        </div>
        <!-- /.home-hero-slide 1 -->
    </div>
</section><!-- /-->
	<!-********************************************->
		<!-                                            ->
		<!-  SECTION: TOP MISSION                      ->
		<!-                                            ->
		<!-********************************************->
<section id="section-mission" class="section section-full-width teal-bg">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">About Us</p>
        </h1>


    </div>
    <!-- /.home-mission -->
</section>
		<!-********************************************->
		<!- /TOP MISSION                               ->
		<!-********************************************->
<section id="section-content" class="section content-inner-width">
    <div class="content-wrapper">
        <p>DezineCorp is a 100% Canadian family owned and operated business. Founded by Paul Bami, DezineCorp is a dream realized for a family who immigrated to Canada in 1991 to build a business and contribute to their community. Building on this legacy, DezineCorp became a Canadian Aboriginal and Minority Supplier Council (CAMSC) Tier 2 member to further their goal of contributing to the Canadian supply chain while celebrating and centering diverse voices.  This approach is what makes DezineCorp really stand out in a sea of competitors: Diversity isn’t just a buzzword to them; It’s something that they simply live every day. It’s not an aspiration, it’s an expectation.</p>

        <p class="blockquote">
            Clients have come to expect excellence - and DezineCorp delivers
        </p>

        <p>By having a strong, committed team that shares the vision of the company, clients have come to expect excellence - and DezineCorp delivers. There are no cutting corners, no “good enough” products - the team is dedicated to delivering the best products that are beautifully made. If a print doesn’t look right, it isn’t sent out. With a combined 200 years of experience, the printers and production staff at DezineCorp take immense pride in their work.</p>

        <p>Leveraging their strong network of vendors and suppliers, such as well-known brands Stanley, Igloo and Riedel, the DezineCorp team has the unique ability to think outside of the box when it comes to fulfilling specialty orders. That’s why clients trust them to fulfill complicated orders with ease. Peace of mind, delivered - that’s DezineCorp.</p>
    </div><!-- /.content-wrapper -->
</section><!-- /#section-content -->
		<!-********************************************->
		<!-                                            ->
		<!-  SECTION: DEZINE ADVANTAGE                 ->
		<!-                                            ->
		<!-********************************************->
<section id="section-advantage" class="section section-full-width no-top">
    <div class="content-inner-width advantage-wrapper">
        <!--
            <div class="advantage-image-wrapper">
                <img class="advantage-image" src="assets/images/placeholder/krakenimages-376KN_ISplE-unsplash-3x1.jpg" alt="The Dezine Advantage" />
            </div>
            -->
        <div class="advantage-content-wrapper">
            <h2 class="section-header">The DezineCorp Difference</h2>
            <p class="advantage-intro">DezineCorp is your one-stop shop for memorable corporate gifts, employee rewards, and customer incentives. Our talented team transforms globally-sourced promotional products into stunning branded merchandise with in-house engraving, printing, gift set creation, and customization.</p>
        </div>
        <div class="column-wrap">
            <!-********************************************->
            <!- ADVANTAGE POINT 1                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <h3 class="advantage-content-header">100% Canadian <i class="fab fa-canadian-maple-leaf"></i></h3>
                        <p class="column-content-text">Founded by a Canadian family, we operate out of Mississauga, Ontario to design, produce, and ship your personalized items within Canada. Say goodbye to long shipping times and expensive import fees.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- ADVANTAGE POINT 2                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <h3 class="advantage-content-header">In-House Production</h3>
                        <p class="column-content-text">From screen printing to engraving and so much more, our design team works with you to create the perfect promotional product for your business. Then, we get to work: with every step of the production happening within our factory, our quality is unmatched.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- ADVANTAGE POINT 3                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <h3 class="advantage-content-header">Customer Support</h3>
                        <p class="column-content-text">We foster one-on-one relationships with our clients, being available to help create custom solutions for even the most unique of challenges. The tailored products that we offer our clients have been borne from decades of listening, learning, and building real, human connections.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- ADVANTAGE POINT 4                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <h3 class="advantage-content-header">Product Selection</h3>
                        <p class="column-content-text">Offering some of the world’s most sought-after premium brands, including Stanley, Riedel, and Nachtmann, we have over 2,000 high quality products to choose from, that fit any budget and style.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
        </div>
        <!-- /.column-wrap -->
    </div>
    <!-- /.talk-cta-wrapper -->
</section>
		<!-********************************************->
		<!- /DEZINE ADVANTAGE                          ->
		<!-********************************************->


@Html.Action("SubscriptionEmail", "Common")