
@{
    ViewBag.Title = "About Us";
}
	<!-********************************************->
		<!-  jQueryUI                                  ->
		<!-********************************************->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-********************************************->
<!-                                            ->
<!-  SECTION: STATIC HERO                      ->
<!-                                            ->
<!-********************************************->
<section id="section-featured-slider" class="section section-full-width">
    <div id="home-hero-static" class="static-hero-wrapper">
        <!-********************************************->
        <!- SLIDE 1                                    ->
        <!-********************************************->
        <div id="home-hero-feature-1" class="home-hero-slide">
            <div class="home-hero-slide-wrapper" style="background-image:url('../../Content/DezineCorpImages/faq_2000x1333.jpg');background-color: #623B5A">
                <div class="slider-inner content-inner-width">
                    <h2 class="home-hero-slide-header">FAQ</h2>
                    <!-- <p class="home-hero-slide-content">Consectetur adipiscing elit. Nullam et est faucibus, faucibus augue vitae, rutrum ipsum.</p>
                    <a class="new-button cta-button-yellow home-hero-slide-cta corner-radius" href="#">LINK</a>  -->
                </div>
            </div>
            <!-- /.home-hero-slide-wrapper -->
        </div>
        <!-- /.home-hero-slide 1 -->
    </div>
</section><!-- /-->
<!-********************************************->
<!- /STATIC HERO                               ->
<!-********************************************->

<!-********************************************->
<!-                                            ->
<!-  SECTION: TOP MISSION                      ->
<!-                                            ->
<!-********************************************->
<section id="section-mission" class="section section-full-width teal-bg">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">FAQ</p>
            <p style="padding-bottom: 20px;">Get answers to the questions we receive most often. Can't find what you need? Our team is happy to help: simply contact us by <a href="tel:1-866-625-7820">phone</a> or <a href="mailto:support@dezinecorp.com">email</a>.</p>
        </h1>
    </div>
    <!-- /.home-mission -->
</section>
<!-********************************************->
<!- /TOP MISSION                               ->
<!-********************************************->
<!-********************************************->
<!-                                            ->
<!-  SECTION: PAGE CONTENT                     ->
<!-                                            ->
<!-********************************************->
<section id="section-content" class="section content-inner-width">
    <div class="content-wrapper">
        <div class="modal-body">
            <h2>Ordering</h2>
            <div id="orderingAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-orderingAccordion-header-0" aria-controls="ui-accordion-orderingAccordion-panel-0" aria-selected="false" tabindex="0">Who does DezineCorp sell to?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-0" aria-labelledby="ui-accordion-orderingAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>
                        DezineCorp sells to distributors and resellers in the promotional industry.
                    </p>
                    <p>
                        We would be pleased to help you locate a distributor in your
                        area. Contact us at <a href="mailto:Support@Dezinecorp.com" target="_blank">Support@Dezinecorp.com</a> for further
                        information.
                    </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-1" aria-controls="ui-accordion-orderingAccordion-panel-1" aria-selected="false" tabindex="-1">How do I set up an Account?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-1" aria-labelledby="ui-accordion-orderingAccordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>DezineCorp sells to distributors and resellers in the promotional industry.</p>
                    <p>Please forward your request to <a href="mailto:support@dezinecorp.com" target="_blank">support@dezinecorp.com</a> and include full name, address, and telephone number.  Our Accounting staff will reach out to you.</p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-2" aria-controls="ui-accordion-orderingAccordion-panel-2" aria-selected="false" tabindex="-1">Where do I send my order?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-2" aria-labelledby="ui-accordion-orderingAccordion-header-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Send your Purchase Order and vector artwork to <a href="mailto:orders@dezinecorp.com" target="_blank">orders@dezinecorp.com.</a> </p>
                    <p>Indicate the location for the decoration, and provide a colour request or PMS reference for any imprint. </p>
                    <p>Once our team has entered and reviewed your order, you will receive an order confirmation and be contacted if there is any further information required.</p>
                    <p>Note all orders/artwork are subject to review prior to acceptance by DezineCorp.</p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-3" aria-controls="ui-accordion-orderingAccordion-panel-3" aria-selected="false" tabindex="-1">What type of artwork is acceptable?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-3" aria-labelledby="ui-accordion-orderingAccordion-header-3" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Vector based files allowing colour separation is required.  Vector files convert type to lines and curves.</p>
                    <p> Adobe Illustrator CS 3/5/6 or CC or EPS files are preferred.  Bitmap or raster (Photoshop) files will not be accepted.</p>
                    <p> Artwork Re-Creation of non-vector artwork is available.  Charges will be quoted upon review of the existing art files.  Contact Customer Service for assistance. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-4" aria-controls="ui-accordion-orderingAccordion-panel-4" aria-selected="false" tabindex="-1">How long will my order take to produce?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-4" aria-labelledby="ui-accordion-orderingAccordion-header-4" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Standard production is 7-10 business days.  This applies to orders for single colours/decoration, website quantities, production-ready artwork and for customers with credit approval.   Each order is custom. </p>
                    <p> Service days are Monday to Friday, excluding holidays. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-5" aria-controls="ui-accordion-orderingAccordion-panel-5" aria-selected="false" tabindex="-1">Do you accept RUSH orders? </h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-5" aria-labelledby="ui-accordion-orderingAccordion-header-5" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Let us know your event date and we will do our best to accommodate your request. </p>
                    <p> Rush service may be subject to additional charges, and is available on a case by case basis only. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-6" aria-controls="ui-accordion-orderingAccordion-panel-6" aria-selected="false" tabindex="-1">What is the minimum order size? </h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-6" aria-labelledby="ui-accordion-orderingAccordion-header-6" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Our website indicates minimum order quantities for each product. </p>
                    <p> Absolute minimum is half the website minimum order quantity shown. </p>
                    <p> A charge of $75(g) applies for less than minimum orders. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-orderingAccordion-header-7" aria-controls="ui-accordion-orderingAccordion-panel-7" aria-selected="false" tabindex="-1">Do you sell undecorated product?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-orderingAccordion-panel-7" aria-labelledby="ui-accordion-orderingAccordion-header-7" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Available on certain products (ceramic and many glassware products are excluded, refer to individual product descriptions for additional details). Orders must be in case lots where listed.  Blank Non-Decorated Product is final sale only and is non-returnable.  Minimum Order Charge $250(g) applies. </p>
                </div>

            </div>
            <h2>Catalogues</h2>
            <div id="cataloguesAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-cataloguesAccordion-header-0" aria-controls="ui-accordion-cataloguesAccordion-panel-0" aria-selected="false" tabindex="0">How can I get a Catalogue? A Flyer?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-cataloguesAccordion-panel-0" aria-labelledby="ui-accordion-cataloguesAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>To access our current catalogues/flyers please click on the web link on the home page.</p>
                    <p> For the most up-to-date pricing and information, refer to the website product page. </p>
                    <p> Contact our Customer Service team at <a href="mailto:support@dezinecorp.com" target="_blank">support@dezinecorp.com</a> to order a print copy. </p>
                </div>
            </div>
            <h2>Decoration</h2>
            <div id="decorationAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-decorationAccordion-header-0" aria-controls="ui-accordion-decorationAccordion-panel-0" aria-selected="false" tabindex="0">What decoration methods are offered?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-decorationAccordion-panel-0" aria-labelledby="ui-accordion-decorationAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Refer to product details on the web site for specific decoration methods available for each product.  Our Customer Service team will be pleased to help you with the variety of options available. </p>
                    <p>Our decorations include</p>
                    <ul>
                        <li>Screenprint</li>
                        <li>Pad printing</li>
                        <li>Sublimation</li>
                        <li>Laser engraving – flat &amp; curved</li>
                        <li>Deep Etch</li>
                        <li>Deboss/Emboss</li>
                        <li>Foil Stamping</li>
                        <li>Decals</li>
                        <li>I-Dezine Stickers</li>
                        <li>Paper Inserts for plastic drinkware</li>
                        <li>Box imprinting</li>
                    </ul>
                </div>
            </div>
            <h2>Samples</h2>
            <div id="samplesAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-samplesAccordion-header-0" aria-controls="ui-accordion-samplesAccordion-panel-0" aria-selected="false" tabindex="0">Are samples available?  How do I order samples?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-samplesAccordion-panel-0" aria-labelledby="ui-accordion-samplesAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Samples are available exclusively for Distributor use in reasonable quantities.</p>
                    <p> Send your request to <a href="mailto:orders@dezinecorp.com" target="_blank">orders@dezinecorp.com</a> including “Sample Request” in the subject line and the following freight information in the request:  freight carrier name, account number and account holder’s name.  If this information is not provided, a minimum charge of $25(g) will apply for shipping. </p>
                    <p> Samples are final sale only and non-returnable.</p>
                    <p> Distributors are responsible for all shipping expenses.</p>
                    <p> Non-Billable Samples:  Some Random Imprinted samples may be provided at no charge for a single piece. </p>
                    <p> Billable Samples (Random Imprinted) - samples are priced at EQP-25% in quantities of 1 -3 pieces, if available. </p>
                    <p> Billable Samples (Non-Decorated) Samples – available at EQP in quantities of 1 -3 pieces (unless excluded in the product description on the website). </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-samplesAccordion-header-1" aria-controls="ui-accordion-samplesAccordion-panel-1" aria-selected="false" tabindex="-1">Are Pre-Production Samples available?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-samplesAccordion-panel-1" aria-labelledby="ui-accordion-samplesAccordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Pre-Production samples are available for screen printed items at $75(g) per colour, per imprint plus product cost.  Quoted separately for all other items. </p>
                    <p>Pre-Production samples will be at no charge for confirmed orders over $2,500 before freight and taxes.</p>
                </div>
            </div>
            <h2>Packaging</h2>
            <div id="packagingAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-packagingAccordion-header-0" aria-controls="ui-accordion-packagingAccordion-panel-0" aria-selected="false" tabindex="0">What is PPK?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-packagingAccordion-panel-0" aria-labelledby="ui-accordion-packagingAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>PPK refers to Protective Packaging.  PPK assists to limit breakage of product during transit.  PPK may take several forms including custom packaging; additional protection to master cartons such as air pillows, and carton-in-carton shipment. </p>
                    <p>Many products are offered with complimentary protective packaging.   For other products it is offered as an additional charge.  Refer to product details for further information. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-packagingAccordion-header-1" aria-controls="ui-accordion-packagingAccordion-panel-1" aria-selected="false" tabindex="-1">Are gift boxes available?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-packagingAccordion-panel-1" aria-labelledby="ui-accordion-packagingAccordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Many of our products include complimentary gift boxes.</p>
                    <p>The majority of our drinkware selections may be ordered with one of our exclusive gift boxes.  Our website includes many of these selections in the Gift Boxes &amp; Sets section.  Also custom boxes may be ordered.</p>
                    <p>Our Customer Service team will be pleased to assist you find a solution for your gift presentation needs.</p>
                </div>
            </div>
            <h2>Shipping</h2>
            <div id="shippingAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-shippingAccordion-header-0" aria-controls="ui-accordion-shippingAccordion-panel-0" aria-selected="false" tabindex="0">When will my order ship?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-shippingAccordion-panel-0" aria-labelledby="ui-accordion-shippingAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>
                        When you receive your order confirmation a shipping date will be indicated.  Every effort is made to ship each order as per the Shipping Date on the Order Acknowledgement.  If we can ship earlier, we will.
                        Unless otherwise requested order will be shipped via Bestway – the most economical method using our Preferred Carriers based on your delivery requirements - and FOB Mississagua.
                    </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-shippingAccordion-header-1" aria-controls="ui-accordion-shippingAccordion-panel-1" aria-selected="false" tabindex="-1">Do you ship outside of Canada?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-shippingAccordion-panel-1" aria-labelledby="ui-accordion-shippingAccordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>A limited number of products are available for sale or shipment to the United States.  Please contact Customer Service for further details. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-shippingAccordion-header-2" aria-controls="ui-accordion-shippingAccordion-panel-2" aria-selected="false" tabindex="-1">Can I pickup my order?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-shippingAccordion-panel-2" aria-labelledby="ui-accordion-shippingAccordion-header-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Pickup is available at our Production facility located at 369 Britannia Rd E, Mississauga ON L4Z 2H5.</p>
                    <p> Pickup must be indicated when the order is submitted and orders will not be released without an approved Pickup Number. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-shippingAccordion-header-3" aria-controls="ui-accordion-shippingAccordion-panel-3" aria-selected="false" tabindex="-1"> Can I change my shipping instructions?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-shippingAccordion-panel-3" aria-labelledby="ui-accordion-shippingAccordion-header-3" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Yes, however, 24 hours are required for processing shipping instruction changes and a charge of $75(g) will apply after an order has been staged for shipment. </p>
                </div>
            </div>
            <h2>
                Returns &amp; Cancellations
            </h2>
            <div id="returnAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-returnAccordion-header-0" aria-controls="ui-accordion-returnAccordion-panel-0" aria-selected="false" tabindex="0">Can I cancel my order?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-returnAccordion-panel-0" aria-labelledby="ui-accordion-returnAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Once DezineCorp issues an Order Acknowledgment/Confirmation, the order may not be cancelled without approval.  Requests must be received in writing at <a href="mailto:orders@dezinecorp.com" target="_blank">orders@dezinecorp.com</a>. Distributors will be invoiced $250(g) plus a restocking fee of up to 50% of the order.</p>
                </div>

            </div>
            <h2>Payment / Terms</h2>
            <div id="paymentAccordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-paymentAccordion-header-0" aria-controls="ui-accordion-paymentAccordion-panel-0" aria-selected="false" tabindex="0">Can I return my order?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-paymentAccordion-panel-0" aria-labelledby="ui-accordion-paymentAccordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Contact Customer Service.  Any issues must be brought to the attention of your Account Representative within 7 days of delivery. </p>
                    <p> Returns are subject to pre-approval.  Returns will not be accepted without a return authorization number (RA#).</p>
                    <p> Note that any credit issued will be recorded to the Distributors’ account and may be applied to future orders only. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-paymentAccordion-header-1" aria-controls="ui-accordion-paymentAccordion-panel-1" aria-selected="false" tabindex="-1">What payment methods are available?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-paymentAccordion-panel-1" aria-labelledby="ui-accordion-paymentAccordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Payment terms are determined on a per order basis at the discretion of our Credit Department. </p>
                    <p> Wire transfers and electronic fund transfers are accepted and preferred.  Visa and MasterCard payments are accepted to a maximum of $2,500 per order prior to shipping only.  Cheques are accepted five days prior to due date.  NSF cheque payments are subject to a $50 penalty charge. </p>
                    <p> For further information, contact our Credit Department at <a href="mailto:support@dezinecorp.com" target="_blank">support@dezinecorp.com</a>. </p>
                </div>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-paymentAccordion-header-2" aria-controls="ui-accordion-paymentAccordion-panel-2" aria-selected="false" tabindex="-1">Are terms available?</h3>
                <div class="modal-txt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-paymentAccordion-panel-2" aria-labelledby="ui-accordion-paymentAccordion-header-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                    <p>Payment terms are determined on a per order basis at the discretion of our Credit Department.  Contact our Credit Department at <a href="mailto:support@dezinecorp.com" target="_blank">support@dezinecorp.com</a>. </p>
                    <p> Terms are Net 30 days from the shipping date on pre-approved orders.</p>
                    <p> Deposits of 50% required on all custom product orders.  Deposits will be required where an approved credit limit has not been established, or where the approved credit limit is exceeded.</p>
                    <p> Orders for all new accounts must be prepaid by credit card, direct deposit or wire transfer prior to production. </p>
                    <p> Orders less than $200 (excluding freight/taxes) must be prepaid by credit card. </p>
                </div>
            </div>
        </div>
    </div><!-- /.content-wrapper -->
</section><!-- /#section-content -->
<!-********************************************->
<!- /PAGE CONTENT                              ->
<!-********************************************->

<!-********************************************->
<!-                                            ->
<!-  SECTION: CTA TALK                         ->
<!-                                            ->
<!-********************************************->
<section id="section-talk-cta" class="section section-full-width">
    <div class="content-inner-width talk-cta-wrapper corner-radius">
        <h2 class="section-header">More questions? Talk to our experts.</h2>
        <p class="talk-cta-text">There’s a reason we’re so well known for our customer care. Our experienced team brings a personal, hands-on approach to finding the right product for you.</p>
        <p class="talk-cta-text">From full customization to creative, out-of-the-box ideas, our team makes it right -  every time.</p>
        <a class="new-button cta-button-yellow home-talk-cta corner-radius" href="/contactus">Contact Us Now</a>
    </div>
    <!-- /.talk-cta-wrapper -->
</section>

@Html.Action("SubscriptionEmail", "Common")

<script>


    // FAQ accordions
    $(function () {
        $("#orderingAccordion,#decorationAccordion,#cataloguesAccordion,#paymentAccordion,#returnAccordion,#shippingAccordion,#packagingAccordion,#samplesAccordion").accordion(
            {
                heightStyle: "content",
                header: "h3",
                collapsible: true,
                active: false
            });
        $('.collapse').collapse();
    });
</script>