@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<footer id="new-footer" class="section section-full-width">
    <div class="footer-widget-wrap content-inner-width">
        <!-********************************************->
        <!- FOOTER WIDGET 1                            ->
        <!-********************************************->
        <div id="footer-widget-1" class="footer-widget footer-4col">
            <img class="footer-logo" src=" ~/Content/DezineCorpImages/dezinecorp_logo_white.svg" />
            <p class="widget-content">Since 2009, we have been transforming ideas into impressions. Clients trust us to fulfill complicated orders with ease. Peace of mind, delivered - that’s DezineCorp.</p>
            <div class="footer-logo-wrapper">
                <img class="footer-partner-logo" src="~/Content/DezineCorpImages/ASI_white.svg" alt="ASI" />
                <img class="footer-partner-logo" src="~/Content/DezineCorpImages/CAMSC_white.svg" alt="CAMSC" />
                <img class="footer-partner-logo" src="~/Content/DezineCorpImages/PPAI_white.svg" alt="PPAI" />
                <img class="footer-partner-logo" src="~/Content/DezineCorpImages/PPPC_white.svg" alt="PPPC" />
                <img class="footer-partner-logo" src="~/Content/DezineCorpImages/SAGE_white.svg" alt="SAGE" />
            </div>
            <!-- .footer-logo-wrapper -->
        </div>
        <!-- /#footer-widget-1 -->
        <!-********************************************->
        <!- FOOTER WIDGET 2                            ->
        <!-********************************************->
        <div id="footer-widget-2" class="footer-widget footer-4col">
            <h3 class="footer-widget">Site</h3>
            <ul class="footer-nav">
                <li class="footer-nav-item"><a href="/">Home</a></li>
                <li class="footer-nav-item"><a href="/root-category">Products</a></li>
                <li class="footer-nav-item"><a href="/brands">Brands</a></li>
                <li class="footer-nav-item"><a href="/catalog-page">Catalogue</a></li>
                <li class="footer-nav-item"><a href="@Url.Action("Contact","Common")">Contacts</a></li>
                <li class="footer-nav-item"><a href="~/Content/PDF/DezineCorp_Terms and Conditions_20220215.pdf">Terms & Conditions</a></li>
            </ul>
        </div>
        <!-- /#footer-widget-2 -->
        <!-********************************************->
        <!- FOOTER WIDGET 3                            ->
        <!-********************************************->
        <div id="footer-widget-3" class="footer-widget footer-4col">
            <h3 class="footer-widget">Contact Us</h3>
            <div class="footer-form-wrap">
                <form id="footer-contact-form" class="footer-contact">
                    <input class="clear-default-input inline-text-input corner-radius footer-field" id="footer_contactus_name" type="text" placeholder="Name" />
                    <input class="clear-default-input inline-text-input corner-radius footer-field" id="footer_contactus_email" type="email" placeholder="Email" />
                    <textarea class="clear-default-input inline-text-input corner-radius footer-field footer-textarea " id="footer_contactus_desc"  rows="3" placeholder="Message"></textarea>
                    <button type="submit" id="footer-submit" class="clear-default-button text-submit-button new-button cta-button-yellow corner-radius">
                        Send <i class="fas fa-paper-plane"></i>
                    </button>
                    <p class="footer-form-response"></p>
                </form>
            </div>
            <!-- /.footer-form-wrap -->
        </div>
        <!-- /#footer-widget-1 -->
        <!-********************************************->
        <!- FOOTER WIDGET 4                          ->
        <!-********************************************->
        <div id="footer-widget-4" class="footer-widget footer-4col">
            <h3 class="footer-widget">Contact</h3>
            <p class="widget-content indent-widget">
                <span class="indent-content-left">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="indent-content-right">
                    369 Britannia Rd East<br>
                    Mississauga ON L4Z 2H5
                </span>
            </p>
            <p class="widget-content indent-widget">
                <i class="far fa-envelope"></i> <a href="mailto:support@dezinecorp.com">support@dezinecorp.com</a>
            </p>
            <p class="widget-content indent-widget">
                <span class="indent-content-left">
                    <i class="fas fa-mobile-alt"></i>
                </span>
                <span class="indent-content-right">
                    <a href="tel:1-905-564-2011 ">905.564.2011</a><br>
                    <a href="tel:1-866-625-7820">866.625.7820</a>
                </span>
            </p>
            <p class="widget-content">
                <a href="https://www.facebook.com/dezinecorppromo"><i class="fab fa-facebook-square"></i></a><a href="https://www.linkedin.com/company/dezinecorp/"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
        <!-- /#footer-widget-2 -->
    </div>
    <!-- /footer-widget-wrap -->
    <div id="sub-footer">
        <p class="fine-print">
            &copy;@DateTime.Now.Year DezineCorp | Powered by nopCommerce | <a href="~/Content/PDF/DezineCorp_Terms and Conditions_20220215.pdf">Privacy Policy</a>
        </p>
    </div>
</footer>