
@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("Partner Brands");
}
<div class="container">
<h1 style="text-align:center;">Our Partner Brands
    </h1></div>
<hr />
<div class="container">
</div>
<br />
<br />
