
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<section id="section-mission" class="section section-full-width">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">Catalogue</p>
            @*<p style="padding-bottom: 20px;">@Html.Raw(Model.Description)</p>*@
        </h1>
    </div>
    <!-- /.home-mission -->
</section>
    <iframe src="https://online.flippingbook.com/view/@ViewBag.Url" title="Catalogue" style="width:100%;height:900px;"></iframe>

