@model Nop.Web.Models.Common.SubscriptionEmailModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading-area-sub",
        LoadingElementDuration = 1000,
        OnBegin = "HideFormSub",
        OnFailure = "ShowFailureSub",
        UpdateTargetId = "message-area-sub",
        OnSuccess = "OnSuccessSub",
    };

}

<script>
    $(document).ready(function () {
        $('#flyer-submit').on('click', function (event) {
            event.preventDefault();
            var valdata = $("#friendform").serialize();
            //to get alert popup   
            alert(valdata);
            $.ajax({
                url: "@Url.Action("SubscriptionEmail", "Common")",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata,
                success: function (result) {
                    alert("success");
                },
                error: function (result) {
                    alert("error");
                }
            });
            //alert('to-do: form processing');
        });
    })


    jQuery('#flyer-submit').on('click', function (event) {
        event.preventDefault();
        //alert('to-do: form processing');
    });
    function HideFormSub() {
        //When the form is submitted, we hide the form
        $("#form-area-sub").hide();
    }

    function ShowFailureSub(e) {
        //In the case that the AJAX call fails to communicate with the server
        //(e.g. the user's internet connection cuts out), we should display a message to that effect
        $('#message-area-sub').html("<div class='alert alert-danger'><strong>Error!</strong>The server could not be contacted and your message has not been sent. Please check your internet connection and try again later.</div>");
    }
    function OnSuccessSub() {
        document.getElementById("SubEmailForm").reset();
    }
</script>
<style>
    #Subscribtion {
        background-color: #eee;
        padding: 10px;
    }

    .input--form--css {
        padding: 10px;
        border: none;
        margin-bottom: 10px;
        width: 50%;
    }
</style>

<div id="loading-area-sub" class="load" style="display:none;">
    <div class='alert alert-info'><strong>Sending...</strong></div>
</div>

<div id="message-area-sub"></div>

<section id="section-flyer-cta" class="section section-inner-width">
    <div class="content-inner-width">
        <h2 class="section-header">Get the latest products and deals in your inbox</h2>
        <div class="flyer-cta-inner">
            <p class="column-content-text">Subscribe to our e-flyer and newsletter</p>
            <div class="column-split-content">
                <form id="flyer-cta-form" class="inline-form">
                    <input id="flyer-cta-input" class="clear-default-input inline-text-input corner-radius" type="text" name="Email" placeholder="Enter email" />
                    <button type="submit" id="flyer-submit" class="clear-default-button text-submit-button new-button cta-button-yellow corner-radius">
                        Sign Me Up <i class="fas fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <!-- /.column-split-content -->
        </div>
        <!-- /.flyer-cta-inner -->
    </div>
    <!-- /.talk-cta-wrapper -->
</section>
